/* Main CSS */

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../font/roboto-v29-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
    url("../font/roboto-v29-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../font/roboto-v29-latin-regular.woff2") format("woff2"),
    url("../font/roboto-v29-latin-regular.woff") format("woff"),
    url("../font/roboto-v29-latin-regular.ttf") format("truetype"),
    url("../font/roboto-v29-latin-regular.svg#Roboto") format("svg");
}

body {
    background-color: #FFFBDB;
}

h1 {
    font-size: 4rem;
    padding: 0.4rem;
    text-align: center;
    text-transform: uppercase;
}

nav, ul, li {
    background-color: #FFFBDB;
    display: inline-block;

    padding: 0.15rem 0.3rem;
    z-index: 2;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #008FCC;
}

a:active {
    color: #CC3D00;
}

header {
    background-color: #D1E0F0;
    border-bottom: 2px solid #000;
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav {
    position: fixed;
    top: 4.7rem;
    width: 100%;
}

#mainbar {
    display: block;
}

#mainbar a {
    font-size: 2.2rem;
}

#subbar, a {
    font-size: 1.8rem;
}

footer {
    align-items: center;
    background-color: #30362F;
    bottom: 0;
    color: #FFF;
    display: flex;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

footer p {
    font-size: 1rem;
    padding: 0.7rem;
    text-transform: uppercase;
    z-index: 1;
}

main {
    background-color: #D1E0F0;
    border: 2px solid #000;
    border-radius: 1rem;
    box-sizing: border-box;
    font-size: 1.1rem;
    margin: 0 auto 300px;
    padding: 2rem;
    position: relative;
    text-align: justify;
    top: 12rem;
    width: 70%;
}

table {
    font-family: roboto, arial, sans-serif;
    margin: 0 auto 2rem;
    width: 90%;
}

td {
    border: 2px solid #30362F;
    padding: 0.3rem;
}

th {
    background-color: #DBBDCC;
    border: 2px solid #30362F;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}

th.tabletitle {
    background-color: #CCA3B8;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

td.tableelement {
    background-color: #FFB493;
    font-family: monospace;
    font-weight: bold;
    width: 12rem;
}

td.tablename {
    width: 10rem;
}

/* Odd row */
tr:nth-of-type(2n+1) {
    background-color: #E0EAF5;
}

/* Even row */
tr:nth-of-type(2n) {
    background-color: #C1D6EB;
}
