/*------------- UNIVERSAL STYLES -------------*/

/* roboto-regular - latin */
@font-face {
    font-family: "roboto";
    src: url("../font/roboto_bold-webfont.woff2") format("woff2"),
    url("../font/roboto_bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../font/roboto_regular-webfont.woff2") format("woff2"),
    url("../font/roboto_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: roboto, sans-serif;
    background-color: #F2F2F2;
}

/*------------------ HEADER ------------------*/

h1 {
    font-size: 3rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

header {
    font-family: roboto, arial, sans-serif;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #E8E8E8;
    top: 0;
    height: 8rem;
}

/*------------------- NAV --------------------*/

nav, ul, li {
    display: inline-block;
    padding: 0.15rem 0.3rem;
    z-index: 2;
}

a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #008FCC;
}

a:active {
    color: #CC3D00;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
    font-family: roboto, arial, sans-serif;
    margin: auto;
    background-color: inherit;
}

#main-bar {
    display: block;
}

#main-bar a {
    font-size: 2.2rem;
}

#sub-bar, a {
    font-size: 1.5rem;
    justify-items: center;
}

:target {
    display: block;
    position: relative;
    top: -11rem;
    visibility: hidden;
}

/*------------------- MAIN -------------------*/

div.work-progress {
    font-size: 8rem;
    font-family: roboto, sans-serif;
    font-weight: bold;
    background-color: red;
    position: absolute;
    width: 50%;
    height: 40%;
    text-align: center;
    padding: 3rem;
    opacity: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: auto;
    border: 2px solid black;
    border-radius: 2rem;
}

main {
    box-sizing: border-box;
    font-size: 1.1rem;
    margin: 0 auto 300px;
    padding: 0;
    position: relative;
    text-align: justify;
    top: 8rem;
    width: 100%;
}

main.homepage {
    width: 70%;
    padding: 4rem;
}

main.homepage section {
    background-color: inherit;
}

section {
    padding: 3rem 0 3rem 0;
}

section:nth-of-type(2n) {
    background-color: #C0C0C0;
}

section:nth-of-type(2n + 1) {
    background-color: #949494;
}

section:last-of-type {
    margin-bottom: 60vh;
    box-sizing: border-box;
}

table {
    font-family: roboto, arial, sans-serif;
    margin: 0 auto;
    width: 50%;
}

th {
    background-color: #FFA859;
    border: 2px solid #30362F;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}

td {
    border: 2px solid #30362F;
    padding: 0.5rem;
    text-align: left;
    font-size: 1.1rem;
}

h2.table-title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

td.table-element {
    font-family: monospace, sans-serif;
    font-weight: bold;
    width: 12rem;
}

.code {
    background-color: #51FF39;
    font-family: roboto, sans-serif;
}

td.table-name {
    width: 10rem;
}

/* Odd row */
tr:nth-of-type(2n + 1) {
    background-color: #E0EAF5;
}

/* Even row */
tr:nth-of-type(2n) {
    background-color: #C1D6EB;
}

/*------------------ FOOTER ------------------*/

footer {
    /* align-items: center; */
    background-color: #30362F;
    bottom: 0;
    color: #FFFFFF;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer div {
    font-family: roboto, sans-serif;
    font-size: 0.8rem;
    padding: 0.5rem;
    z-index: 1;
}

/*-------------| STYLESHEET END |-------------*/
